<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>Inscription</servlet-name>
		<display-name>Inscription</display-name>
		<description></description>
		<servlet-class>servlets.Inscription</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Profil</servlet-name>
		<display-name>Profil</display-name>
		<description></description>
		<servlet-class>servlets.Profil</servlet-class>
		<init-param>
			<param-name>chemin</param-name>
			<!-- Mettre en commentaire les 2 chemins qui ne conviennent pas -->
			<!-- Chemin Sandy -->
			<!-- <param-value>/Users/PC35/eclipse-workspace-JEE/projet_SAJ/src/main/webapp/img/avatars/</param-value> -->
			<!-- Chemin Antoine -->
			<!--<param-value>/Users/PC43/Documents/Formation Activ/JEE-workspace/SiteInternetSAJ/src/main/webapp/img/avatars/</param-value> -->
			<!-- Chemin Jérémy -->
			<param-value>/Users/PC 58/eclipse-jee-workspace/projet_SAJ/src/main/webapp/img/avatars/</param-value>
		</init-param>
		<multipart-config>
			<!-- Mettre en commentaire les 2 chemins qui ne conviennent pas -->
			<!-- Chemin Sandy -->
			<!-- <location>c:/Users/PC35/eclipse-workspace-JEE/projet_SAJ/src/main/webapp/img/avatars</location> -->
			<!-- Chemin Antoine -->
			<!--<location>c:/Users/PC43/Documents/Formation Activ/JEE-workspace/SiteInternetSAJ/src/main/webapp/img/avatars</location> -->
			<!-- Chemin Jérémy -->
			<location>c:/Users/PC 58/eclipse-jee-workspace/projet_SAJ/src/main/webapp/img/avatars</location>
			<max-file-size>10485760</max-file-size> <!-- 10 Mo -->
			<max-request-size>52428800</max-request-size> <!-- 5 x 10 Mo -->
			<file-size-threshold>1048576</file-size-threshold> <!-- 1 Mo -->
		</multipart-config>
	</servlet>
	<servlet>
		<servlet-name>Testbeans</servlet-name>
		<display-name>Testbeans</display-name>
		<description></description>
		<servlet-class>servlets.Testbeans</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PostInscription</servlet-name>
		<display-name>PostInscription</display-name>
		<description></description>
		<servlet-class>servlets.PostInscription</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JsonAnimeReader</servlet-name>
		<display-name>JsonAnimeReader</display-name>
		<description></description>
		<servlet-class>servlets.JsonAnimeReader</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckPseudo</servlet-name>
		<display-name>CheckPseudo</display-name>
		<description></description>
		<servlet-class>servlets.CheckPseudo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JsonFilmReader</servlet-name>
		<display-name>JsonFilmReader</display-name>
		<description></description>
		<servlet-class>servlets.JsonFilmReader</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Serie</servlet-name>
		<display-name>Serie</display-name>
		<description></description>
		<servlet-class>servlets.Serie</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JsonSerieReader</servlet-name>
		<display-name>JsonSerieReader</display-name>
		<description></description>
		<servlet-class>servlets.JsonSerieReader</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TrouverSerie</servlet-name>
		<display-name>TrouverSerie</display-name>
		<description></description>
		<servlet-class>servlets.TrouverSerie</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JsonEpisodeAnimeReader</servlet-name>
		<display-name>JsonEpisodeAnimeReader</display-name>
		<description></description>
		<servlet-class>servlets.JsonEpisodeAnimeReader</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Recherche</servlet-name>
		<display-name>Recherche</display-name>
		<description></description>
		<servlet-class>servlets.Recherche</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Connexion</servlet-name>
		<display-name>Connexion</display-name>
		<description></description>
		<servlet-class>servlets.Connexion</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Deconnexion</servlet-name>
		<display-name>Deconnexion</display-name>
		<description></description>
		<servlet-class>servlets.Deconnexion</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AjoutAnimeListe</servlet-name>
		<display-name>AjoutAnimeListe</display-name>
		<description></description>
		<servlet-class>servlets.AjoutAnimeListe</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PostReview</servlet-name>
		<display-name>PostReview</display-name>
		<description></description>
		<servlet-class>servlets.PostReview</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SupprimerProfil</servlet-name>
		<display-name>SupprimerProfil</display-name>
		<description></description>
		<servlet-class>servlets.SupprimerProfil</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifierProfil</servlet-name>
		<display-name>ModifierProfil</display-name>
		<description></description>
		<servlet-class>servlets.ModifierProfil</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AjouterCarteCredit</servlet-name>
		<display-name>AjouterCarteCredit</display-name>
		<description></description>
		<servlet-class>servlets.AjouterCarteCredit</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SupprimerCarteCredit</servlet-name>
		<display-name>SupprimerCarteCredit</display-name>
		<description></description>
		<servlet-class>servlets.SupprimerCarteCredit</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifierInformations</servlet-name>
		<display-name>ModifierInformations</display-name>
		<description></description>
		<servlet-class>servlets.ModifierInformations</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AjouterAnimeListe</servlet-name>
		<display-name>AjouterAnimeListe</display-name>
		<description></description>
		<servlet-class>servlets.AjouterAnimeListe</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MaListe</servlet-name>
		<display-name>MaListe</display-name>
		<description></description>
		<servlet-class>servlets.MaListe</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReviewAnime</servlet-name>
		<display-name>ReviewAnime</display-name>
		<description></description>
		<servlet-class>servlets.ReviewAnime</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AjoutFilmListe</servlet-name>
		<display-name>AjoutFilmListe</display-name>
		<description></description>
		<servlet-class>servlets.AjoutFilmListe</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AjoutSerieListe</servlet-name>
		<display-name>AjoutSerieListe</display-name>
		<description></description>
		<servlet-class>servlets.AjoutSerieListe</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TrendingAnime</servlet-name>
		<display-name>TrendingAnime</display-name>
		<description></description>
		<servlet-class>servlets.TrendingAnime</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TrendingSerie</servlet-name>
		<display-name>TrendingSerie</display-name>
		<description></description>
		<servlet-class>servlets.TrendingSerie</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TrendingFilm</servlet-name>
		<display-name>TrendingFilm</display-name>
		<description></description>
		<servlet-class>servlets.TrendingFilm</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Home</servlet-name>
		<display-name>Home</display-name>
		<description></description>
		<servlet-class>servlets.Home</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InscriptionReussie</servlet-name>
		<display-name>InscriptionReussie</display-name>
		<description></description>
		<servlet-class>servlets.InscriptionReussie</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inscription</servlet-name>
		<url-pattern>/Inscription</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Profil</servlet-name>
		<url-pattern>/Profil</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Testbeans</servlet-name>
		<url-pattern>/Testbeans</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostInscription</servlet-name>
		<url-pattern>/PostInscription</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JsonAnimeReader</servlet-name>
		<url-pattern>/JsonAnimeReader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckPseudo</servlet-name>
		<url-pattern>/CheckPseudo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JsonFilmReader</servlet-name>
		<url-pattern>/JsonFilmReader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Serie</servlet-name>
		<url-pattern>/Serie</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JsonSerieReader</servlet-name>
		<url-pattern>/JsonSerieReader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrouverSerie</servlet-name>
		<url-pattern>/TrouverSerie</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JsonEpisodeAnimeReader</servlet-name>
		<url-pattern>/JsonEpisodeAnimeReader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Recherche</servlet-name>
		<url-pattern>/Recherche</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/Connexion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Deconnexion</servlet-name>
		<url-pattern>/Deconnexion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjoutAnimeListe</servlet-name>
		<url-pattern>/AjoutAnimeListe</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostReview</servlet-name>
		<url-pattern>/PostReview</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SupprimerProfil</servlet-name>
		<url-pattern>/SupprimerProfil</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifierProfil</servlet-name>
		<url-pattern>/ModifierProfil</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjouterCarteCredit</servlet-name>
		<url-pattern>/AjouterCarteCredit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SupprimerCarteCredit</servlet-name>
		<url-pattern>/SupprimerCarteCredit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifierInformations</servlet-name>
		<url-pattern>/ModifierInformations</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjouterAnimeListe</servlet-name>
		<url-pattern>/AjouterAnimeListe</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MaListe</servlet-name>
		<url-pattern>/MaListe</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReviewAnime</servlet-name>
		<url-pattern>/ReviewAnime</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjoutFilmListe</servlet-name>
		<url-pattern>/AjoutFilmListe</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjoutSerieListe</servlet-name>
		<url-pattern>/AjoutSerieListe</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrendingAnime</servlet-name>
		<url-pattern>/TrendingAnime</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrendingSerie</servlet-name>
		<url-pattern>/TrendingSerie</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrendingFilm</servlet-name>
		<url-pattern>/TrendingFilm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/Home</url-pattern>
</servlet-mapping>
<servlet-mapping>
		<servlet-name>InscriptionReussie</servlet-name>
		<url-pattern>/InscriptionReussie</url-pattern>
	</servlet-mapping>
</web-app>
